# Java eta Maven bidez konpilatutako fitxategiak baztertu
target/
*.jar
*.class

# Eclipseren tokiko konfigurazioak baztertu
.settings/
.project
.classpath

# Docker datu-basearen bolumena baztertu (OSO GARRANTZITSUA)
db_data/

# Tokiko argazkiak baztertu
artikulu_irudiak/
