# Maven
target/
dependency-reduced-pom.xml
java-app/dependency-reduced-pom.xml
*.class

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker volumes locales
db_data/
artikulu_irudiak/*
!artikulu_irudiak/.gitkeep
partekatutako_datuak/*.xml
!partekatutako_datuak/.gitkeep

# Logs
*.log
logs/

# Backups
*.sql.bak
copia_*.sql